<div class="container mt-3 mb-5">
    <h4>Solicitudes</h4>
</div>

<div class="card m-auto w-75 mb-5">
    <div class="card-body">
        <div class="titulo mt-4 ms-3">
            <h5 class="">Formulario de Solicitudes</h5>
        </div>
        <div class="form w-75 m-auto mt-5 mb-5">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Tipo de Producto</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione</option>
                    <option value="1">Cuenta de ahorros</option>
                    <option value="2">Préstamo</option>
                    <option value="3">Historial de cuentas</option>
                </select>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Contacto 1</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="ej. 809 234 2343">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label">Contacto 2</label>
                        <input type="text" class="form-control" id="exampleFormControlInput2"
                            placeholder="ej. 809 234 2343">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="boton text-center">
                <button type="button" class="btn btn-enviar p-2 ">Enviar solicitud</button>
            </div>
        </div>
    </div>
</div>