.tituloHome{
    color: #626209;
  }
  
  .card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
  
  .tituloCuenta{
    color: #b7b817;
    font-weight: 600;
  }
  
  .resumen{
    color: #5a4e3c;
  }
  .Ncuenta{
    margin-top: -17px;
    color: #5a4e3c;
  
  }
  
  .numeroCuenta{
    color: #5a4e3c;
    font-weight: 700;
  }
  
  .balanceDisponible{
    color: #b7b817;
    font-weight: 500;
  }
  
  .balance{
    color: #5a4e3c;
  }
  
  .btnDetalleCuenta { background: #468c00; color: #fff;}
  .btnDetalleCuenta:hover { background-color: #386f00; }