<div class="container mt-3">
    <h4 class="tituloHome">
        Préstamos
    </h4>
    <p class="resumen">
        Resumen cuentas de Préstamos
    </p>
</div>

<div class="container mb-3">
    <div class="card border-0">
        <div class="card-body">
            <h5 class="tituloCuenta">Cuentas de Préstamos</h5>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="numeroCuenta">Numero de cuenta</p>
                        <p class="Ncuenta ms-3">43643643564356</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p class="float-start balanceDisponible"> Balance disponible: <strong class="balance">
                                23,232.00</strong>
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <a class="btn btnDetalleCuenta float-end ">Ver Detalle <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>